IF EXISTS (SELECT * FROM sys.databases WHERE name = 'InventoryDB')
    DROP DATABASE InventoryDB;
GO
CREATE DATABASE InventoryDB;
GO
USE InventoryDB;
GO

-- Drop existing tables
IF OBJECT_ID('dbo.Files', 'U') IS NOT NULL DROP TABLE dbo.Files;
IF OBJECT_ID('dbo.ChangeHistory', 'U') IS NOT NULL DROP TABLE dbo.ChangeHistory;
IF OBJECT_ID('dbo.Movements', 'U') IS NOT NULL DROP TABLE dbo.Movements;
IF OBJECT_ID('dbo.MovementTypes', 'U') IS NOT NULL DROP TABLE dbo.MovementTypes;
IF OBJECT_ID('dbo.Items', 'U') IS NOT NULL DROP TABLE dbo.Items;
IF OBJECT_ID('dbo.ItemOwners', 'U') IS NOT NULL DROP TABLE dbo.ItemOwners;
IF OBJECT_ID('dbo.Suppliers', 'U') IS NOT NULL DROP TABLE dbo.Suppliers;
IF OBJECT_ID('dbo.Statuses', 'U') IS NOT NULL DROP TABLE dbo.Statuses;
IF OBJECT_ID('dbo.Categories', 'U') IS NOT NULL DROP TABLE dbo.Categories;
IF OBJECT_ID('dbo.Users', 'U') IS NOT NULL DROP TABLE dbo.Users;
IF OBJECT_ID('dbo.Roles', 'U') IS NOT NULL DROP TABLE dbo.Roles;
GO

-- Create tables
CREATE TABLE Roles (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    Description NVARCHAR(MAX)
);

CREATE TABLE Users (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) UNIQUE NOT NULL,
    RoleID INT,
    AzureUserID NVARCHAR(255) NULL,
    CreationDate DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (RoleID) REFERENCES Roles(ID)
);

CREATE TABLE Categories (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL
);

CREATE TABLE Statuses (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    Description NVARCHAR(MAX)
);

CREATE TABLE Suppliers (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Contact NVARCHAR(100),
    Phone NVARCHAR(20),
    Email NVARCHAR(100),
    Address NVARCHAR(MAX),
    Notes NVARCHAR(MAX)
);

CREATE TABLE ItemOwners (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(MAX),
);

CREATE TABLE Items (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(MAX),
    CategoryID INT,
    UniqueIdentifier NVARCHAR(50) UNIQUE NOT NULL,
    SupplierID INT,
    StatusID INT,
    Location NVARCHAR(255),
    RegistrationDate DATETIME DEFAULT GETDATE(),
    Stock INT DEFAULT 0,
    OwnerID INT DEFAULT 1,
    FOREIGN KEY (CategoryID) REFERENCES Categories(ID),
    FOREIGN KEY (SupplierID) REFERENCES Suppliers(ID),
    FOREIGN KEY (StatusID) REFERENCES Statuses(ID),
    FOREIGN KEY (OwnerID) REFERENCES ItemOwners(ID),
);

CREATE TABLE MovementTypes (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    Description NVARCHAR(MAX)
);

CREATE TABLE Movements (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    ItemID INT,
    MovementTypeID INT,
    Quantity INT NOT NULL,
    Date DATETIME DEFAULT GETDATE(),
    OriginUserID INT,
    ResponsibleUserID INT,
    Destination NVARCHAR(255),
    Notes NVARCHAR(MAX),
    FOREIGN KEY (ItemID) REFERENCES Items(ID),
    FOREIGN KEY (MovementTypeID) REFERENCES MovementTypes(ID),
    FOREIGN KEY (OriginUserID) REFERENCES Users(ID),
    FOREIGN KEY (ResponsibleUserID) REFERENCES Users(ID)
);

CREATE TABLE ChangeHistory (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    ItemID INT,
    ModifiedField NVARCHAR(100) NOT NULL,
    PreviousValue NVARCHAR(MAX),
    NewValue NVARCHAR(MAX),
    Date DATETIME DEFAULT GETDATE(),
    UserID INT,
    FOREIGN KEY (ItemID) REFERENCES Items(ID) ON DELETE CASCADE,
    FOREIGN KEY (UserID) REFERENCES Users(ID)
);

CREATE TABLE Files (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    ItemID INT,
    URL NVARCHAR(MAX) NOT NULL,
    Type NVARCHAR(50) NOT NULL,
    UploadDate DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (ItemID) REFERENCES Items(ID)
);

-- Drop existing procedures
IF OBJECT_ID('sp_add_role', 'P') IS NOT NULL DROP PROCEDURE sp_add_role;
IF OBJECT_ID('sp_get_roles', 'P') IS NOT NULL DROP PROCEDURE sp_get_roles;
IF OBJECT_ID('sp_update_role', 'P') IS NOT NULL DROP PROCEDURE sp_update_role;
IF OBJECT_ID('sp_delete_role', 'P') IS NOT NULL DROP PROCEDURE sp_delete_role;
GO

-- CRUD Procedures for all tables
-- Generic CRUD for Roles
CREATE PROCEDURE sp_add_role @Name NVARCHAR(50), @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(50), Description NVARCHAR(MAX))

    INSERT INTO Roles (Name, Description) 
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Description INTO @InsertedTable
    VALUES (@Name, COALESCE(@Description, 'No description'));

    SELECT * FROM @InsertedTable;
END
GO

CREATE PROCEDURE sp_get_roles
AS
BEGIN
    SELECT * FROM Roles;
END
GO

CREATE PROCEDURE sp_update_role @ID INT, @Name NVARCHAR(50) = NULL, @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE Roles 
    SET Name = COALESCE(@Name, Name),
        Description = COALESCE(@Description, Description)
    WHERE ID = @ID;
END
GO

CREATE PROCEDURE sp_delete_role @ID INT
AS
BEGIN
    DELETE FROM Roles WHERE ID = @ID;
END
GO

-- Drop existing procedures for Users
IF OBJECT_ID('sp_add_user', 'P') IS NOT NULL DROP PROCEDURE sp_add_user;
IF OBJECT_ID('sp_get_users', 'P') IS NOT NULL DROP PROCEDURE sp_get_users;
IF OBJECT_ID('sp_update_user', 'P') IS NOT NULL DROP PROCEDURE sp_update_user;
IF OBJECT_ID('sp_delete_user', 'P') IS NOT NULL DROP PROCEDURE sp_delete_user;
IF OBJECT_ID('sp_get_user_by_azure_id', 'P') IS NOT NULL DROP PROCEDURE sp_get_user_by_azure_id;
IF OBJECT_ID('sp_get_user_by_id', 'P') IS NOT NULL DROP PROCEDURE sp_get_user_by_id;
GO

-- Insert User
CREATE PROCEDURE sp_add_user
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @RoleID INT = NULL,
    @AzureUserID NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(100), Email NVARCHAR(100), RoleID INT, AzureUserID NVARCHAR(255), CreationDate DATETIME)

    INSERT INTO Users (Name, Email, RoleID, AzureUserID) 
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Email, INSERTED.RoleID, INSERTED.AzureUserID, INSERTED.CreationDate INTO @InsertedTable
    VALUES (@Name, @Email, COALESCE(@RoleID, NULL), @AzureUserID);

    SELECT * FROM @InsertedTable;
END
GO

-- Retrieve Users
CREATE PROCEDURE sp_get_users
AS
BEGIN
    SELECT * FROM Users;
END
GO

CREATE PROCEDURE sp_get_user_by_id
    @ID INT
AS
BEGIN
    SELECT * FROM Users WHERE ID = @ID;
END
GO

-- Update User
CREATE PROCEDURE sp_update_user
    @ID INT,
    @Name NVARCHAR(100) = NULL,
    @Email NVARCHAR(100) = NULL,
    @RoleID INT = NULL,
    @AzureUserID NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users 
    SET Name = COALESCE(@Name, Name),
        Email = COALESCE(@Email, Email),
        RoleID = COALESCE(@RoleID, RoleID),
        AzureUserID = COALESCE(@AzureUserID, AzureUserID)
    WHERE ID = @ID;

    -- Devolver la información actualizada del usuario
    SELECT * FROM Users WHERE ID = @ID;
END
GO

-- Delete User
CREATE PROCEDURE sp_delete_user
    @ID INT
AS
BEGIN
    DELETE FROM Users WHERE ID = @ID;
END
GO

-- Create procedure to fetch user by AzureUserID
CREATE PROCEDURE sp_get_user_by_azure_id
    @AzureUserID NVARCHAR(255)
AS
BEGIN
    SELECT * FROM Users WHERE AzureUserID = @AzureUserID;
END
GO


-- Drop existing procedures for Categories
IF OBJECT_ID('sp_add_category', 'P') IS NOT NULL DROP PROCEDURE sp_add_category;
IF OBJECT_ID('sp_get_categories', 'P') IS NOT NULL DROP PROCEDURE sp_get_categories;
IF OBJECT_ID('sp_update_category', 'P') IS NOT NULL DROP PROCEDURE sp_update_category;
IF OBJECT_ID('sp_delete_category', 'P') IS NOT NULL DROP PROCEDURE sp_delete_category;
GO

-- Insert Category
CREATE PROCEDURE sp_add_category
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(100))

    INSERT INTO Categories (Name)
    OUTPUT INSERTED.ID, INSERTED.Name INTO @InsertedTable
    VALUES (@Name);

    SELECT * FROM @InsertedTable;
END
GO

-- Retrieve Categories
CREATE PROCEDURE sp_get_categories
AS
BEGIN
    SELECT * FROM Categories;
END
GO

-- Update Category
CREATE PROCEDURE sp_update_category
    @ID INT,
    @Name NVARCHAR(100) = NULL
AS
BEGIN
    UPDATE Categories 
    SET Name = COALESCE(@Name, Name)
    WHERE ID = @ID;
END
GO

-- Delete Category
CREATE PROCEDURE sp_delete_category
    @ID INT
AS
BEGIN
    DELETE FROM Categories WHERE ID = @ID;
END
GO

-- Drop existing procedures for Files
IF OBJECT_ID('sp_add_file', 'P') IS NOT NULL DROP PROCEDURE sp_add_file;
IF OBJECT_ID('sp_get_files', 'P') IS NOT NULL DROP PROCEDURE sp_get_files;
IF OBJECT_ID('sp_update_file', 'P') IS NOT NULL DROP PROCEDURE sp_update_file;
IF OBJECT_ID('sp_delete_file', 'P') IS NOT NULL DROP PROCEDURE sp_delete_file;
IF OBJECT_ID('sp_get_files_by_item_id', 'P') IS NOT NULL DROP PROCEDURE sp_get_files_by_item_id;
GO

-- Insert File
CREATE PROCEDURE sp_add_file
    @ItemID INT,
    @URL NVARCHAR(MAX),
    @Type NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, ItemID INT, URL NVARCHAR(MAX), Type NVARCHAR(50), UploadDate DATETIME)

    INSERT INTO Files (ItemID, URL, Type)
    OUTPUT INSERTED.ID, INSERTED.ItemID, INSERTED.URL, INSERTED.Type, INSERTED.UploadDate INTO @InsertedTable
    VALUES (@ItemID, @URL, @Type);

    SELECT * FROM @InsertedTable;
END
GO

-- Create procedure to fetch files by ItemID
CREATE PROCEDURE sp_get_files_by_item_id
    @ItemID INT
AS
BEGIN
    SELECT * FROM Files WHERE ItemID = @ItemID;
END
GO

-- Retrieve Files
CREATE PROCEDURE sp_get_files
AS
BEGIN
    SELECT * FROM Files;
END
GO

-- Update File
CREATE PROCEDURE sp_update_file
    @ID INT,
    @ItemID INT = NULL,
    @URL NVARCHAR(MAX) = NULL,
    @Type NVARCHAR(50) = NULL
AS
BEGIN
    UPDATE Files 
    SET ItemID = COALESCE(@ItemID, ItemID),
        URL = COALESCE(@URL, URL),
        Type = COALESCE(@Type, Type)
    WHERE ID = @ID;
END
GO

-- Delete File
CREATE PROCEDURE sp_delete_file
    @ID INT
AS
BEGIN
    DELETE FROM Files WHERE ID = @ID;
END
GO

-- Drop existing procedures for ChangeHistory
IF OBJECT_ID('sp_get_change_history', 'P') IS NOT NULL DROP PROCEDURE sp_get_change_history;
GO

-- Create procedure to fetch all change history
CREATE PROCEDURE sp_get_change_history
AS
BEGIN
    SELECT * FROM ChangeHistory ORDER BY Date DESC;
END
GO

-- Drop existing procedure for ItemOwners if exists
IF OBJECT_ID('sp_delete_item_owner', 'P') IS NOT NULL DROP PROCEDURE sp_delete_item_owner;
IF OBJECT_ID('sp_update_item_owner', 'P') IS NOT NULL DROP PROCEDURE sp_update_item_owner;
IF OBJECT_ID('sp_get_item_owner_by_id', 'P') IS NOT NULL DROP PROCEDURE sp_get_item_owner_by_id;
IF OBJECT_ID('sp_get_item_owners', 'P') IS NOT NULL DROP PROCEDURE sp_get_item_owners;
IF OBJECT_ID('sp_add_item_owner', 'P') IS NOT NULL DROP PROCEDURE sp_add_item_owner;
GO

-- Create procedure to insert an ItemOwner and return the inserted record
CREATE PROCEDURE sp_add_item_owner
    @Name NVARCHAR(100),
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(100), Description NVARCHAR(MAX))

    INSERT INTO ItemOwners (Name, Description) 
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Description INTO @InsertedTable
    VALUES (@Name, COALESCE(@Description, 'No description'));

    SELECT * FROM @InsertedTable;
END
GO

-- Create procedure to fetch all ItemOwners
CREATE PROCEDURE sp_get_item_owners
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM ItemOwners ORDER BY Name;
END
GO

-- Create procedure to fetch an ItemOwner by ID
CREATE PROCEDURE sp_get_item_owner_by_id
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM ItemOwners WHERE ID = @ID;
END
GO

-- Create procedure to update an ItemOwner and return the updated record
CREATE PROCEDURE sp_update_item_owner
    @ID INT,
    @Name NVARCHAR(100) = NULL,
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ItemOwners
    SET Name = COALESCE(@Name, Name),
        Description = COALESCE(@Description, Description)
    WHERE ID = @ID;

    -- Return the updated record
    SELECT * FROM ItemOwners WHERE ID = @ID;
END
GO

-- Create procedure to delete an ItemOwner
CREATE PROCEDURE sp_delete_item_owner
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM ItemOwners WHERE ID = @ID;
END
GO

-- Drop existing procedures for Items
IF OBJECT_ID('sp_add_item', 'P') IS NOT NULL DROP PROCEDURE sp_add_item;
IF OBJECT_ID('sp_get_items', 'P') IS NOT NULL DROP PROCEDURE sp_get_items;
IF OBJECT_ID('sp_get_item_by_id', 'P') IS NOT NULL DROP PROCEDURE sp_get_item_by_id;
IF OBJECT_ID('sp_update_item', 'P') IS NOT NULL DROP PROCEDURE sp_update_item;
IF OBJECT_ID('sp_delete_item', 'P') IS NOT NULL DROP PROCEDURE sp_delete_item;
IF OBJECT_ID('sp_get_items_by_filters', 'P') IS NOT NULL DROP PROCEDURE sp_get_items_by_filters;
GO

-- Insert Item
CREATE PROCEDURE sp_add_item
    @Name NVARCHAR(100),
    @Description NVARCHAR(MAX) = NULL,
    @CategoryID INT = NULL,
    @UniqueIdentifier NVARCHAR(50),
    @SupplierID INT = NULL,
    @StatusID INT = NULL,
    @Location NVARCHAR(255) = NULL,
    @Stock INT = NULL,
    @OwnerID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (
        ID INT, 
        Name NVARCHAR(100), 
        Description NVARCHAR(MAX), 
        CategoryID INT, 
        UniqueIdentifier NVARCHAR(50), 
        SupplierID INT, 
        StatusID INT, 
        Location NVARCHAR(255), 
        RegistrationDate DATETIME, 
        Stock INT,
        OwnerID INT
    );

    INSERT INTO Items (Name, Description, CategoryID, UniqueIdentifier, SupplierID, StatusID, Location, Stock, OwnerID)
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Description, INSERTED.CategoryID, INSERTED.UniqueIdentifier, INSERTED.SupplierID, INSERTED.StatusID, INSERTED.Location, INSERTED.RegistrationDate, INSERTED.Stock, INSERTED.OwnerID INTO @InsertedTable
    VALUES (@Name, COALESCE(@Description, 'No description'), @CategoryID, @UniqueIdentifier, @SupplierID, @StatusID, COALESCE(@Location, 'Unknown'), @stock, COALESCE(@OwnerID, 1));

    SELECT * FROM @InsertedTable;
END
GO



CREATE PROCEDURE sp_get_items_by_filters
    @Name NVARCHAR(100) = NULL,
    @CategoryID INT = NULL,
    @SupplierID INT = NULL,
    @StatusID INT = NULL,
    @OwnerID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FilteredItems TABLE (
        ID INT, 
        Name NVARCHAR(100), 
        Description NVARCHAR(MAX), 
        CategoryID INT, 
        UniqueIdentifier NVARCHAR(50), 
        SupplierID INT, 
        StatusID INT, 
        Location NVARCHAR(255), 
        RegistrationDate DATETIME, 
        Stock INT, 
        OwnerID INT
    );

    -- Insertar los registros filtrados en la tabla temporal
    INSERT INTO @FilteredItems
    SELECT * 
    FROM Items
    WHERE 
        (@Name IS NULL OR Name LIKE '%' + @Name + '%') AND
        (@CategoryID IS NULL OR CategoryID = @CategoryID) AND
        (@SupplierID IS NULL OR SupplierID = @SupplierID) AND
        (@StatusID IS NULL OR StatusID = @StatusID) AND
        (@OwnerID IS NULL OR OwnerID = @OwnerID);

    -- Devolver los ítems filtrados
    SELECT * FROM @FilteredItems ORDER BY Name;

    -- Devolver la suma total del stock de los ítems filtrados
    SELECT COALESCE(SUM(Stock), 0) AS TotalStock FROM @FilteredItems;
END
GO

-- Retrieve Items
CREATE PROCEDURE sp_get_items
AS
BEGIN
    SELECT * FROM Items;
END
GO

CREATE PROCEDURE sp_get_item_by_id
    @ID INT
AS
BEGIN
    SELECT * FROM Items WHERE ID = @ID;
END
GO

-- Update Item
CREATE PROCEDURE sp_update_item
    @ID INT,
    @Name NVARCHAR(100) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @CategoryID INT = NULL,
    @UniqueIdentifier NVARCHAR(50) = NULL,
    @SupplierID INT = NULL,
    @StatusID INT = NULL,
    @Location NVARCHAR(255) = NULL,
    @OwnerID INT = NULL,
    @Stock INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Actualizar los datos del ítem, incluyendo el propietario y el stock
    UPDATE Items 
    SET Name = COALESCE(@Name, Name),
        Description = COALESCE(@Description, Description),
        CategoryID = COALESCE(@CategoryID, CategoryID),
        UniqueIdentifier = COALESCE(@UniqueIdentifier, UniqueIdentifier),
        SupplierID = COALESCE(@SupplierID, SupplierID),
        StatusID = COALESCE(@StatusID, StatusID),
        Location = COALESCE(@Location, Location),
        OwnerID = COALESCE(@OwnerID, OwnerID),
        Stock = COALESCE(@Stock, Stock)
    WHERE ID = @ID;

    -- Devolver el ítem actualizado
    SELECT * FROM Items WHERE ID = @ID;
END
GO

-- Delete Item
CREATE PROCEDURE sp_delete_item
    @ID INT
AS
BEGIN
    DELETE FROM Items WHERE ID = @ID;
END
GO

-- Drop existing procedures for Movements
IF OBJECT_ID('sp_add_movement', 'P') IS NOT NULL DROP PROCEDURE sp_add_movement;
IF OBJECT_ID('sp_get_movements', 'P') IS NOT NULL DROP PROCEDURE sp_get_movements;
IF OBJECT_ID('sp_update_movement', 'P') IS NOT NULL DROP PROCEDURE sp_update_movement;
IF OBJECT_ID('sp_delete_movement', 'P') IS NOT NULL DROP PROCEDURE sp_delete_movement;
GO

-- Insert Movement
CREATE PROCEDURE sp_add_movement
    @ItemID INT,
    @MovementTypeID INT,
    @Quantity INT,
    @OriginUserID INT,
    @ResponsibleUserID INT,
    @Destination NVARCHAR(255) = NULL,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, ItemID INT, MovementTypeID INT, Quantity INT, Date DATETIME, OriginUserID INT, ResponsibleUserID INT, Destination NVARCHAR(255), Notes NVARCHAR(MAX))

    INSERT INTO Movements (ItemID, MovementTypeID, Quantity, Date, OriginUserID, ResponsibleUserID, Destination, Notes)
    OUTPUT INSERTED.ID, INSERTED.ItemID, INSERTED.MovementTypeID, INSERTED.Quantity, INSERTED.Date, INSERTED.OriginUserID, INSERTED.ResponsibleUserID, INSERTED.Destination, INSERTED.Notes INTO @InsertedTable
    VALUES (@ItemID, @MovementTypeID, @Quantity, GETDATE(), @OriginUserID, @ResponsibleUserID, COALESCE(@Destination, 'Not specified'), COALESCE(@Notes, 'No notes'));

    SELECT * FROM @InsertedTable;
END
GO

-- Retrieve Movements
CREATE PROCEDURE sp_get_movements
AS
BEGIN
    SELECT * FROM Movements;
END
GO

-- Update Movement
CREATE PROCEDURE sp_update_movement
    @ID INT,
    @ItemID INT = NULL,
    @MovementTypeID INT = NULL,
    @Quantity INT = NULL,
    @OriginUserID INT = NULL,
    @ResponsibleUserID INT = NULL,
    @Destination NVARCHAR(255) = NULL,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE Movements 
    SET ItemID = COALESCE(@ItemID, ItemID),
        MovementTypeID = COALESCE(@MovementTypeID, MovementTypeID),
        Quantity = COALESCE(@Quantity, Quantity),
        OriginUserID = COALESCE(@OriginUserID, OriginUserID),
        ResponsibleUserID = COALESCE(@ResponsibleUserID, ResponsibleUserID),
        Destination = COALESCE(@Destination, Destination),
        Notes = COALESCE(@Notes, Notes)
    WHERE ID = @ID;
END
GO

-- Delete Movement
CREATE PROCEDURE sp_delete_movement
    @ID INT
AS
BEGIN
    DELETE FROM Movements WHERE ID = @ID;
END
GO

-- Drop existing procedures for MovementTypes
IF OBJECT_ID('sp_add_movement_type', 'P') IS NOT NULL DROP PROCEDURE sp_add_movement_type;
IF OBJECT_ID('sp_get_movement_types', 'P') IS NOT NULL DROP PROCEDURE sp_get_movement_types;
IF OBJECT_ID('sp_update_movement_type', 'P') IS NOT NULL DROP PROCEDURE sp_update_movement_type;
IF OBJECT_ID('sp_delete_movement_type', 'P') IS NOT NULL DROP PROCEDURE sp_delete_movement_type;
GO

-- Insert Movement Type
CREATE PROCEDURE sp_add_movement_type
    @Name NVARCHAR(50),
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(50), Description NVARCHAR(MAX))

    INSERT INTO MovementTypes (Name, Description) 
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Description INTO @InsertedTable
    VALUES (@Name, COALESCE(@Description, 'No description'));

    SELECT * FROM @InsertedTable;
END
GO

-- Retrieve Movement Types
CREATE PROCEDURE sp_get_movement_types
AS
BEGIN
    SELECT * FROM MovementTypes;
END
GO

-- Update Movement Type
CREATE PROCEDURE sp_update_movement_type
    @ID INT,
    @Name NVARCHAR(50) = NULL,
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE MovementTypes 
    SET Name = COALESCE(@Name, Name),
        Description = COALESCE(@Description, Description)
    WHERE ID = @ID;
END
GO

-- Delete Movement Type
CREATE PROCEDURE sp_delete_movement_type
    @ID INT
AS
BEGIN
    DELETE FROM MovementTypes WHERE ID = @ID;
END
GO


-- Drop existing procedures for Statuses
IF OBJECT_ID('sp_add_status', 'P') IS NOT NULL DROP PROCEDURE sp_add_status;
IF OBJECT_ID('sp_get_statuses', 'P') IS NOT NULL DROP PROCEDURE sp_get_statuses;
IF OBJECT_ID('sp_update_status', 'P') IS NOT NULL DROP PROCEDURE sp_update_status;
IF OBJECT_ID('sp_delete_status', 'P') IS NOT NULL DROP PROCEDURE sp_delete_status;
GO

-- Insert Status
CREATE PROCEDURE sp_add_status
    @Name NVARCHAR(50),
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(50), Description NVARCHAR(MAX))

    INSERT INTO Statuses (Name, Description) 
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Description INTO @InsertedTable
    VALUES (@Name, COALESCE(@Description, 'No description'));

    SELECT * FROM @InsertedTable;
END
GO

-- Retrieve Statuses
CREATE PROCEDURE sp_get_statuses
AS
BEGIN
    SELECT * FROM Statuses;
END
GO

-- Update Status
CREATE PROCEDURE sp_update_status
    @ID INT,
    @Name NVARCHAR(50) = NULL,
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE Statuses 
    SET Name = COALESCE(@Name, Name),
        Description = COALESCE(@Description, Description)
    WHERE ID = @ID;
END
GO

-- Delete Status
CREATE PROCEDURE sp_delete_status
    @ID INT
AS
BEGIN
    DELETE FROM Statuses WHERE ID = @ID;
END
GO

-- Drop existing procedures for Suppliers
IF OBJECT_ID('sp_add_supplier', 'P') IS NOT NULL DROP PROCEDURE sp_add_supplier;
IF OBJECT_ID('sp_get_suppliers', 'P') IS NOT NULL DROP PROCEDURE sp_get_suppliers;
IF OBJECT_ID('sp_update_supplier', 'P') IS NOT NULL DROP PROCEDURE sp_update_supplier;
IF OBJECT_ID('sp_delete_supplier', 'P') IS NOT NULL DROP PROCEDURE sp_delete_supplier;
GO

-- Insert Supplier
CREATE PROCEDURE sp_add_supplier
    @Name NVARCHAR(100),
    @Contact NVARCHAR(100) = NULL,
    @Phone NVARCHAR(20) = NULL,
    @Email NVARCHAR(100) = NULL,
    @Address NVARCHAR(MAX) = NULL,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedTable TABLE (ID INT, Name NVARCHAR(100), Contact NVARCHAR(100), Phone NVARCHAR(20), Email NVARCHAR(100), Address NVARCHAR(MAX), Notes NVARCHAR(MAX))

    INSERT INTO Suppliers (Name, Contact, Phone, Email, Address, Notes) 
    OUTPUT INSERTED.ID, INSERTED.Name, INSERTED.Contact, INSERTED.Phone, INSERTED.Email, INSERTED.Address, INSERTED.Notes INTO @InsertedTable
    VALUES (@Name, COALESCE(@Contact, 'Unknown'), COALESCE(@Phone, 'Unknown'), COALESCE(@Email, 'Unknown'), COALESCE(@Address, 'No address'), COALESCE(@Notes, 'No notes'));

    SELECT * FROM @InsertedTable;
END
GO

-- Retrieve Suppliers
CREATE PROCEDURE sp_get_suppliers
AS
BEGIN
    SELECT * FROM Suppliers;
END
GO

-- Update Supplier
CREATE PROCEDURE sp_update_supplier
    @ID INT,
    @Name NVARCHAR(100) = NULL,
    @Contact NVARCHAR(100) = NULL,
    @Phone NVARCHAR(20) = NULL,
    @Email NVARCHAR(100) = NULL,
    @Address NVARCHAR(MAX) = NULL,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE Suppliers 
    SET Name = COALESCE(@Name, Name),
        Contact = COALESCE(@Contact, Contact),
        Phone = COALESCE(@Phone, Phone),
        Email = COALESCE(@Email, Email),
        Address = COALESCE(@Address, Address),
        Notes = COALESCE(@Notes, Notes)
    WHERE ID = @ID;
END
GO

-- Delete Supplier
CREATE PROCEDURE sp_delete_supplier
    @ID INT
AS
BEGIN
    DELETE FROM Suppliers WHERE ID = @ID;
END
GO


-- Trigger to track changes in Items table
IF OBJECT_ID('tr_track_item_changes', 'TR') IS NOT NULL DROP TRIGGER tr_track_item_changes;
GO

CREATE TRIGGER tr_track_item_changes
ON Items
AFTER UPDATE
AS
BEGIN
    INSERT INTO ChangeHistory (ItemID, ModifiedField, PreviousValue, NewValue, Date, UserID)
    SELECT 
        i.ID, 'General Update', NULL, NULL, GETDATE(), NULL
    FROM inserted i;
END
GO