:root {
    --primary-color: #6A0B93;
    --secondary-color: #E6E6FA;
    --primary-hover: #8010b6;
    --text-light: #ffffff;
}

body {
    background-color: var(--secondary-color);
    padding: 20px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-header {
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 15px 15px 0 0 !important;
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}